@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@500&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kalnia+Glaze:wght@100..700&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: 'Josefin Sans', sans-serif;
}

.foldit-font {
  font-family: 'Foldit', sans-serif;
}

.kalnia-font {
  font-family: 'Kalnia Glaze', sans-serif;
}

.karla-font {
  font-family: 'Karla', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
